@tailwind base;
@tailwind utilities;
@tailwind components;

@property --turn {
  syntax: "<angle>";
  initial-value: 1turn;
  inherits: false;
}

:root {
  --turn: 0turn;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid theme("colors.indigo.700");
}

@keyframes spin {
  from {
    --turn: 0turn;
  }
  to {
    --turn: 1turn;
  }
}
